.modal {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(5px);
    background-color: #000000b6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}

.box {
    width: 50%;
    height: 65%;
    border-radius: 4.5rem;
    background-color: #26244B;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.pic {
    width: 20rem;
    height: 15rem;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    border-radius: 2rem;
    overflow: hidden;
}

.boxTitle {
    color: #FFFFFF;
}

.imageBox {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.likeBox,
.dislikeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likeBox img,
.dislikeBox img {
    cursor: pointer;
}

.low,
.much {
    color: #FFFFFF;
    margin-top: 2rem;
}

.btnSubmit {
    width: 8rem;
    font-family: "iranSans";
    color: #FFFFFF;
    border-radius: 1.5rem;
    background-color: #5A4DFF;
    border: none;
    border-bottom: 0.4rem solid #7C70FF;
    padding: 1rem;
    outline: none;
    margin-top: 4rem;
    cursor: pointer;
}

.btnSubmit:disabled {
    opacity: 0.2 !important;
}

.pic img {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(-30px, -30px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}