@font-face {
  font-family: "iranSans";
  src: url("./assets//fonts//FontsFree-Net-ir_sans.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  direction: rtl;
}

html,
body,
#root {
  width: 100%;
  font-family: "iranSans"
}


::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.infinite-scroll-component__outerdiv {
  display: flex;
  width: 100%;
}